<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Error</title>
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/IBM%20Plex%20Mono.css">
    <link rel="stylesheet" href="/assets/css/Space%20Mono.css">
    <link rel="stylesheet" href="/assets/css/Hero-Clean.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="padding: 20px;">
    <section class="highlight-clean" style="padding-left: 15px;padding-right: 15px;">
        <div class="container">
            <div class="intro" style="margin-top: 100px; height: 50vh; margin-top: 30vh;">
                <h3 class="text-center" style="font-size: 40px;">{{ code }}</h3>
                <p class="text-center" style="color: rgb(179,179,179);">{{ description }}</p>
            </div>
        </div>
    </section>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>