<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Report Gateway | StopModReposts</title>
    <meta name="description" content="Report sites or false-positives here to StopModReposts here. For advanced usage use our free API.">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/ZoI2D6yH_400x400.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/IBM%20Plex%20Mono.css">
    <link rel="stylesheet" href="/assets/css/Space%20Mono.css">
    <link rel="stylesheet" href="/assets/css/Hero-Clean.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="padding: 20px;">
    <section class="py-4 py-xl-5">
        <div class="container h-100" style="margin-top: 25vh;">
            <div class="row h-100" style="margin-bottom: 25px;">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-uppercase fw-bold text-start mb-3" style="text-transform: none!important;margin-bottom: 0px!important;">StopModReposts<img class="float-end" src="/assets/img/ZoI2D6yH_400x400.png" style="width: 45px;"><br></h2>
                        <p class="text-start mb-4" style="color: rgb(193,31,32);font-weight: bold;font-size: 14px;">OFFICIAL&nbsp;REPORT GATEWAY</p>
                        <p class="text-start mb-4">This is the official reporting gateway for StopModReposts. Use this site and its API to report sites or false-positives to us and to see our progress.</p>
                        <ul class="list-inline text-start">
                            <li class="list-inline-item"><a href="/forms/report" style="color: rgb(193,31,32);">Site Report Form</a></li>
                            <li class="list-inline-item" style="color: rgb(193,31,32);"><a href="/forms/falsepositive" style="color: rgb(193,31,32);">False-Positive Report Form</a></li>
                            <li class="list-inline-item" style="color: rgb(193,31,32);"><a href="/pages/progress" style="color: rgb(193,31,32);">Review progress</a></li>
                            <li class="list-inline-item" style="color: rgb(193,31,32);"><a href="https://stopmodreposts.org/sites" style="color: rgb(193,31,32);">All domains on our list</a></li>
                            <li class="list-inline-item" style="color: rgb(193,31,32);"><a href="https://github.com/StopModReposts/Illegal-Mod-Sites/wiki/API-access-and-formats" style="color: rgb(193,31,32);">API Docs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>